body, html {
    height: 100%;
    margin: 0;
    font-family: 'Comfortaa', cursive;
    color: #333;
    padding: 0;
}

.navbar-custom {
    background-color: #355E3B;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #ccc;
}

.navbar-brand img {
    height: 50px;
}

section {
    position: fixed;
    top: 70px;
    left: 0;
    right: 0;
    bottom: 40px;
    width: 100%;
}

iframe {
    height: 100%;
    width: 100%;
    border: none;
}

footer {
    color: white;
    background-color: #355E3B;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
    position: fixed;
}

@media (max-width: 768px) {
    .navbar-brand img {
        height: 40px;
    }

    section {
        top: 60px;
        bottom: 30px;
    }

    footer {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .navbar-brand img {
        height: 30px;
    }

    section {
        top: 50px;
        bottom: 20px;
    }

    footer {
        font-size: 12px;
        padding: 8px 0;
    }
}
